a{
    text-decoration: none;
}
.logo{
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.line{
    background-color: gray;
    width: 20px;
    height: 2px;
}

.main-line{
    background-color: #37517e;
    height: 4px;
}

.subTitle{
    font-size: 1rem;
    color: gray;
    font-weight: 400;
}
.section-title{
    color: #37517e;
}
.navbar{
    padding: 1rem 0rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: white;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 20px 0px gray;
}
.hamburger-icon{
    border: none;
    color: white;
}

/* main section */

.main-section{
    background-color: #37517e;
    width: 100%;
    height: 100vh;
}
.main-section-container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}
.main-section-container h2{
    font-family: sans-serif;
    font-weight: bold;
    color: white;
}
.main-section-container p{
    font-family: sans-serif;
    color: white;
    opacity: .7;
}

.main-section img{
    animation: mainImageAnimation 5s infinite;
}

/* ABout */

.about-right{
    overflow: hidden;
}
.about-right img{
    cursor: pointer;
    transition: 0.5s;
}
.about-right:hover img{
    transform: rotate(10deg) scale(1.1);
}

/* Service */

.service-box{
    height: 100%;
    padding: 60px 30px;
    text-align: center;
    transition: .5s;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0 30px rgba(1,41,112, 0.08);
}
.fa-solid{
    background-color: rgba(128, 128, 128, 0.192);
    font-size: 2rem;
    padding: 1rem;
    border-radius: 2rem;
    color: rgb(0, 132, 255);
    transition: color .5s;
}

.service-box:hover{
    transform: scale(1.1);
}
.service-box:hover .fa-solid{
    color: #37517e;
}

/* Project */

.project-box{
    overflow: hidden;
    position: relative;
    height: 20rem;
}
.project-box img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
}
.box-cover{
    width: 100%;
    height: 100%;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: .5s;
}

.project-box:hover img{
    transform: scale(1.2);
    filter: blur(2px);
}
.project-box:hover .box-cover{
    opacity: 1;
}

/* Contact  */
.contact-left img{
    transition: .5s;
}
.contact-left:hover img{
    transform: scale(.9);
}

@keyframes mainImageAnimation {
    0%{
        transform: translateY(-20px);
    }
    50%{
        transform: translateY(70px);
    }
    100%{
        transform: translateY(-20px);
    }
}